<h1>Edit Hike Details: </h1>
<%= form_for @hike do |f| %>
  <%= f.label :name "Hike or Park Name:" %>
  <%= f.text_field :name %><br>
  <%= f.select :state, "State", options_for_select(us_states) %>
  <%= f.label :description "Description:" %>
  <%= f.text_field :description %><br>
  
  <%= f.submit "Update Hike Details" %>
<% end %>