<h1>Hikes</h1>

<ul class="list-group">
  <% if @user %>
    <% if @user.hikes.any? %>
      <% @hikes.each do |hike| %>
        <li class="list-group-item"><%= link_to hike.name, hike_path(hike) %>
        created by: <%= hike.user.username %>
        <% if hike.user == current_user %>
          <%= link_to "Edit", edit_hike_path(hike) %>
          <%= link_to "Delete", hike, method: :delete, data: { confirm: "Are you sure you want to delete this hike?"} %>
        <% end %>
        </li>
      <br />
      <% end %>
      </ul>
    <% else %>
        <p>You haven't created any hikes yet!  Click <%= link_to "here", new_user_hike_path(@user) %> to create a new hike!</p>
    <% end %>
  <% else %>
  <% @hikes.each do |hike| %>
      <li class="list-group-item"><%= link_to hike.name, hike_path(hike) %>
      created by: <%= hike.user.username %>
        <% if hike.user == current_user %>
          <%= link_to "Edit", edit_hike_path(hike) %>
          <%= link_to "Delete", hike, method: :delete, data: { confirm: "Are you sure you want to delete this hike?"} %>
        <% end %>
      </li>
      <br>
    <% end %>
    </ul>
  <% end %>
  <br>

<h4>Filter by state:</h4>
<% form_tag(hikes_path, method: "get") do %>
  Enter state: <%= text_field_tag(:state, params[:state]) %>
  <%= submit_tag "Search" %>
<% end %>

<div class="by_state">
  <ul></ul>
</div>

  
