
<h1>Hike Show Page</h1>
<h2><%= @hike.name %> - <%= @hike.state %></h2>
<p><%= @hike.description %></p><br />

<h2>Add a comment:</h2>
<%= form_for [@hike, @comment] do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :hike_id, :value => @hike.id %>
  <%= f.text_field :content %>
  <%= f.submit "Submit comment" %>
<% end %><br />

<h2>Comments:</h2>
<%= @hike.comments.each do |c| %>
  <p><%= c.content %></p><br />
<% end %>

<%= link_to "Edit", edit_hike_path(@hike) %>
<%= link_to "Back", user_hikes_path(@user) %>